.navbar_ {
    color: #00A1F0;
    background-color: #EAEAEA;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    font-size: 31px;

    .navbar_text {
        box-sizing: border-box;
        background-color: #00A1F0;
        color: #fff;
        padding: 0px 10px;
        margin-right: 10px;
        border-radius: 10px;
        font-size: 30px;
    }
}

._nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    z-index: 9999;
    padding: 20px 14px;

    .title {
        font-weight: bold;
        font-size: 28px;
    }

    .desc {
        color: gray;
        font-size: 20px;
    }

    .mt {
        margin-top: 8px;
        padding-left: 10px;
    }

    .rightBtn {
        line-height: 60px;
        text-align: center;
        margin-top: 10px;

        >div {
            background: linear-gradient(to right, #3FA5E6, #2FCFBD);
            border-radius: 16px;
            color: #fff;
            border-radius: 30px;
            width: 120px;
            height: 60px;
        }
    }

}